  .header
    .header__search_box
      .header__search_box__input
        = link_to "#" do
          .header__search_box__input__icon
            %i.fas.fa-search
    .header__tabs_box
      .header__tabs_box__area
        = link_to "地域で探す","#"
      .header__tabs_box__color
        = link_to "毛色で探す","#"
      .header__tabs_box__likes
        = link_to "いいねランキング","#"
      .header__tabs_box__login
        = link_to "ログイン","#"